<div class="dash">

<div class="dash-box">
  <a href="/members">
  <div class="box">
    <img src="/images/members-2.jpg" alt="members image">
  </div>
  <div class="title">
      <h3>Members</h3>
  </div>
  </a>
</div>

<div class="dash-box">
  <a href="/groupexercises">
  <div class="box">
    <img src="/images/classes-2.jpg" alt="classes image">
  </div>
  <div class="title">
    <h3>Classes</h3>
  </div>
  </a>
</div>

<div class="dash-box">
  <a href="/groupexercises/date">
  <div class="box">
    <img src="/images/" alt="today's classes image">
  </div>
  <div class="title">
      <h3>Today's Classes</h3>
  </div>
  </a>
</div>

<div class="dash-box">
  <a href="/instructors">
  <div class="box">
    <img src="/images/Instructors-2.jpg" alt="instructors image">
  </div>
  <div class="title">
      <h3>Instructors</h3>
  </div>
  </a>
</div>

</div>
