<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Gym Manager</title>
  </head>
  <body>
    <main class=>
  <nav>
    <ul>
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="/members/new">Create New members</a>
      </li>
      <li>
        <a href="/groupexercises/new">Create New Classes</a>
      </li>
      <li>
        <a href="">Create Bookings</a>
      </li>
    </ul>
  </nav>
  <section id="content">
  <%= yield %>
  </section>
  </main>
  </body>
</html>
