<h1>Schedeling System</h1>

<form  action="/schedules/<%= @member_id %>/create" method="post">
  <label for ="instructor_selection">Select an Instructor:</label>
    <select name="instructor_id" id="instructor_selection">
      <% for instructor in @instructors %>
          <option value="<%= instructor.id %>"><%= instructor.format_name %></option>
      <% end %>
    </select>

    <label for="meeting_time">Meeting Time: </label>
    <input type="time" name="meeting_time" id="meeting_time"/>

  <input type='submit' value="Add Instructor">
</form>
