<h1>Schedeling System</h1>

<form  action="/schedules/<%= @member_id %>/create" method="post">
  <label id ="new_schedule">
    Select an Instructor:
    <select name="member_id">
      <% for instructor in @instructors %>
        <% if !@sign_up.include? instructor.id %>
      <option value="<%= instructor.id %>"><%= instructor.format_name %></option>
      <% end %>
      <% end %>
    </select>
  </label>
  <br /><br />
  <br /><br />
  <input class="button-forms" type='submit' value="Add to class">
</form>
