<h1>Bookings</h1>

<a href="/gym_classes/<%= .id %>/new">
  <input type="submit" value="Create New Booking" />
</a>
</br>
<table>
  <tr>
    <th>Member</th>
    <th>Class</th>
  </tr>
  <% for booking in @bookings %>
  <tr>
    <td><%= booking.members.format_name %></td>
    <td><%= booking.groupexercises.name %></td>
    <td>
      <form action="/booking/<%= booking.id %>/delete" method="POST">
        <input type="submit" value="delete" />
      </form>
    </td>
  </tr>

  <% end %>
</table>
