<h1>Booking System</h1>

<form  action="/bookings/<%= @groupexercise_id %>/create" method="post">
  <label id ="new_booking">
    Select a member:
    <select name="member_id">
      <% for member in @members %>
        <% if member.membership_status == "Active" && member.membership_type == @membership_check && !@sign_up.include?(member.id) %>
          <option value="<%= member.id %>"><%= member.format_name %></option>
        <% end %>
      <% end %>
    </select>
  </label>
  <br /><br />
  <br /><br />
  <input type='submit' value="Add to class">
</form>
